body {
	font-family: Arial,Verdana,sans-serif;
	color: #080808;
}

caption {
	background-color: #efefef;
	border: 1px solid #dcdcdc;
	border-radius: 5px;
	padding: 10px 20px;
	text-align: center;
	text-transform: uppercase;
	font-size: 120%;
	margin-left: auto;
	margin-right: auto;
}

table.budget{
	width: 900px;
}

table.centered{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
}

th,td {
	padding: 7px 10px 10px 10px;
}

th {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 90%;
	border-bottom: 2px solid #111111;
	border-top: 1px solid #999;
	text-align: left;
}

tr.even {
	background-color: #efefef;
}

tr:hover {
	background-color: #c3e6e5;
}

ul {
    list-style:none;
    padding:0;	
}

li {
    display: block;
    padding: 9px;
    border:1px solid #DDDDDD;
    margin-bottom: 10px;
    border-radius: 5px;
	width: 200px;
	text-align: center;
	background-color: #D3D3D3;
	margin-left: auto;
	margin-right: auto;
}

a {
	text-decoration: none;
	font-size: 120%;
	color: black;
}

a:hover{
	color: white;
}

p {
	text-align: center;
}