ul.ulmenu {
    list-style:none;
    padding:0;	
}

li.limenu {
    display: block;
    padding: 9px;
    border:1px solid #DDDDDD;
    margin-bottom: 10px;
    border-radius: 5px;
	width: 200px;
	text-align: center;
	background-color: #D3D3D3;
	margin-left: auto;
	margin-right: auto;
}

a.amenu {
	text-decoration: none;
	font-size: 120%;
	color: black;
}

a.amenu:hover{
	color: white;
}

.site-header .container,
.site-footer .container {
    text-align: center;
    font-family: Arial,Verdana,sans-serif;
	color: #080808;
    font-size: 120%;
    text-decoration: none;
}

a .site-header .container {
	text-decoration: none;
	font-size: 120%;
	color: black;
}

fieldset {
	width: 500px;
	border: 1px solid #dcdcdc;
	border-radius: 5px;
	padding: 20px;
	text-align: right;
	margin-left: auto;
	margin-right: auto;
}

legend {
	background-color: #efefef;
	border: 1px solid #dcdcdc;
	border-radius: 5px;
	padding: 10px 20px;
	text-align: left;
	text-transform: uppercase;
	font-size: 120%;
	margin-left: auto;
	margin-right: auto;
}

ul.update-budget {
    list-style:none;
    padding:0;
    margin:0;  
}
li.update-budget {
    display: block;
    padding: 9px;
    border:1px solid #DDDDDD;
    margin-bottom: 10px;
    border-radius: 3px;
}

a.update-budget {
	text-decoration: none;
}

form.update-budget{
    max-width:400px;
    margin:50px auto;
    background:#fff;
    border-radius:2px;
    padding:20px;
}

form.update-budget ul{
    list-style:none;
    padding:0;
    margin:0;  
}

form.update-budget li{
    display: block;
    padding: 9px;
    border:1px solid #DDDDDD;
    margin-bottom: 30px;
    border-radius: 3px;
}

form.update-budget li:last-child{
    border:none;
    margin-bottom: 0px;
    text-align: center;
}

form.update-budget li > label{
    display: block;
    float: left;
    margin-top: -19px;
    background: #FFFFFF;
    height: 14px;
    padding: 2px 5px 2px 5px;
    color: #B9B9B9;
    font-size: 14px;
    overflow: hidden;
}

form.update-budget input[type="text"],
form.update-budget input[type="date"],
form.update-budget input[type="datetime"],
form.update-budget input[type="email"],
form.update-budget input[type="number"],
form.update-budget input[type="search"],
form.update-budget input[type="time"],
form.update-budget input[type="url"],
form.update-budget input[type="password"],
form.update-budget textarea,
form.update-budget select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 0;
}

form.update-budget input[type="text"]:focus,
form.update-budget input[type="date"]:focus,
form.update-budget input[type="datetime"]:focus,
form.update-budget input[type="email"]:focus,
form.update-budget input[type="number"]:focus,
form.update-budget input[type="search"]:focus,
form.update-budget input[type="time"]:focus,
form.update-budget input[type="url"]:focus,
form.update-budget input[type="password"]:focus,
form.update-budget textarea:focus,
form.update-budget select:focus
{
    box-shadow: 0 0 5px rgba(81, 203, 238, 2);    
}

form.update-budget li > span{
    background: #F3F3F3;
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: #C0C0C0;
    font-size: 11px;
}

form.update-budget textarea{
    resize:none;
}

form.update-budget input[type="submit"],
form.update-budget input[type="reset"],
form.update-budget input[type="button"]{
	border: 1px solid #dcdcdc;
	border-radius: 5px;
	padding: 10px;
}

form.update-budget input[type="submit"]:hover,
form.update-budget input[type="reset"]:hover,
form.update-budget input[type="button"]:hover{
    background: #efefef;
}

